<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLACK PANTHER site | Projet evaluation</title>
    <meta name="author" content="Franck Tana">
    <link rel="stylesheet" href="../css/StyleAllpages.css">
    <link rel="stylesheet" href="../css/StyleEnigme.css">
</head>
<body>
 <!--header Entete du body-->
    <header>
        <nav> 
            <a href="index.html">
                <img>
            </a>
            <ul>
                <a href="../index.html"><li>ACCUEIL</li></a>
                <a href="./Wakanda.html"><li>WAKANDA</li></a>
                <a href="./Enigme.html"><li>ENIGME</li></a>
            </ul>
        </nav>
    </header>
<!--main le corps de votre body la partie amener à changer d'une page à une autre-->
    <main>
<!-- premiere section Entete (Heroheader) -->
        <section>  
            <div>
                <div>
                    <img src="../assets/ImagesEnigme/Pantherenigme1.png" alt="">
                </div>
                <div>
                    <h1>Releve le defi <br> des dora milaje</h1>
                    <p>
                        Les Dora Milaje sont de farouches guerrières d’élite. Elles constituent la garde 
                        rapprochée du Roi en personne et ont de nombreuses occasions de lui sauver la 
                        vie. Leur Générale, Okoyé est également la dirigeante des forces armées et des 
                        renseignements wakandais.
                        Prouve ton talent d’espion et déchiffre cette réplique d’Okoyé écrite en Wakandais, 
                        et apprend par la même occasion la première valeur d’une Dora Milaje !
                    </p>
                </div>
            </div> 
    </section>
<!-- deuxieme section  -->
    <section>
        <div>
            "SI JE SUIS FIDELE C’EST A CE TRONE 
            PEU IMPORTE QUI MONTE DESSUS" 
        </div>
        <div>
            <div>
                <h5>Voici la transicription de l’alphabet :</h5>
                </p>
                    A = A ; B = b ; c = c ; d = d ; e = e ; f = f ; g = g ; h = h ; i = i ; j = j ; 
                    k = k ; l = l ; m = m ; n = n ; o = o ; p = p ; q = q ; r = r ; s = s ; t = t ;
                    u = u ; w = w ; x = x ; y = y ; z = z 
                </p>
                <form action="">
                    <caption>Alors, as tu la réponse ?</caption>
                    <input type="text">
                    <button>Envoyer</button>
                </form>
            </div>
            <div>
                <P>Le savais tu ? </P>
                <p>
                    Plusieurs sources s’entendent pour dire que la lettre la plus utilisée en français est 
                    la lettre E. En pourcentage de fréquence, la lettre est utilisée à 14% dans une 
                    phrase. Et si tu regardais quel symbole revient le plus souvent ? 
                </p>
            </div>
        </div>
    </section>
    </main>
    <footer>
        <div>
            <img src="./assets/ImagesAllpages/footer1.png" alt="">
        </div>
        <div>
            <div>
                <div>
                    <div>
                        <H3>PAGES</H3>
                        <ul>
                            <li>à propos</li>
                            <li>Wakanda</li>
                        </ul>
                    </div>
                    <div>
                        <H3>RETROUVEZ NOUS</H3>
                    </div>
                </div>
                <div>
                    <p>2022 Tous droits réservés Politique de confidentialité Conditions d’utilisation</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>