<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLACK PANTHER site | Projet evaluation</title>
    <meta name="author" content="Franck Tana">
    <link rel="stylesheet" href="../css/StyleAllpages.css">
    <link rel="stylesheet" href="../css/StyleEnigme.css">
</head>
<body>
 <!--header Entete du body-->
    <header>
        <nav> 
            <a href="../index.html">
                <img src="/assets/ImagesAllpages/footer2.png" alt="">
            </a>
            <ul>
                <a href="../index.html"><li>ACCUEIL</li></a>
                <a href="./Wakanda.html"><li>WAKANDA</li></a>
                <a href="./Enigme.html"><li>ENIGME</li></a>
            </ul>
        </nav>
    </header>
<!--main le corps de votre body la partie amener à changer d'une page à une autre-->
    <main>
<!-- premiere section Entete (Heroheader) -->
        <section>  
            <div id="Enigme_heroheader">
                <div>
                    <img src="../assets/ImagesEnigme/Pantherenigme1.png" alt="" width="1200px">
                </div>
                <div id="Block_releve">
                    <div>
                        <h2 id="releve_defi">Releve le defi</h2>
                        <h2>des dora milaje</h2>
                    </div>
                    <div id="fond_para">
                        <p>
                            Les Dora Milaje sont de farouches guerrières d’élite. Elles constituent la garde 
                            rapprochée du Roi en personne et ont de nombreuses occasions de lui sauver la 
                            vie. Leur Générale, Okoyé est également la dirigeante des forces armées et des 
                            renseignements wakandais.
                            Prouve ton talent d’espion et déchiffre cette réplique d’Okoyé écrite en Wakandais, 
                            et apprend par la même occasion la première valeur d’une Dora Milaje !
                        </p>
                        <img src="../assets/ImagesEnigme/Pantherenigme3.png" alt="">
                    </div>
                </div>
            </div> 
    </section>
<!-- deuxieme section  -->
    <section>
        <div id="deuxieme_section">
            <div>
                <h3>"SI JE SUIS FIDELE C’EST A CE TRONE <br>PEU IMPORTE QUI MONTE DESSUS" </h3>  
            </div>
            <div id="alphabet_desc">
                <div class="taille_div">
                    <h5>Voici la transicription de l’alphabet :</h5>
                    </p>
                        A = A ; B = b ; c = c ; d = d ; e = e ; f = f ; g = g ; h = h ; i = i ; j = j ;
                        k = k ; l = l ; m = m ; n = n ; o = o ; p = p ; q = q ; r = r ; s = s ; t = t ;
                        u = u ; w = w ; x = x ; y = y ; z = z 
                    </p>
                    <form action="" >
                        <caption>Alors, as tu la réponse ?</caption><br>
                        <input type="text" placeholder="réponse">
                        <button id="button">Envoyer</button>
                    </form>
                </div>
                <div id="lesais_tu">
                    <P>Le savais tu ? </P>
                    <p>
                        Plusieurs sources s’entendent pour dire que la lettre la plus utilisée en français est 
                        la lettre E. En pourcentage de fréquence, la lettre est utilisée à 14% dans une 
                        phrase. Et si tu regardais quel symbole revient le plus souvent ? 
                    </p>
                </div>
            </div>
        </div>
    </section>
    </main>
    <footer>
        <div id="footer1_position">
            <img src="../assets/ImagesAllpages/footer2.png" alt="" width="200px">
        </div>
        <div>
            <div id="align-nav-RS">
                <div>
                    <ul>
                        <h2><li>PAGES</li></h2>
                        <a href=""><li>à propos</li></a>
                        <a href=""><li>Wakanda</li></a>
                    </ul>
                </div>
                <div>
                    <h2>RETROUVEZ NOUS</h2>
                    <div id="spacingRS"> 
                        <img src="../assets/ImagesAllpages/footer3.png" alt=""> 
                        <img src="../assets/ImagesAllpages/footer4.png" alt="">
                        <img src="../assets/ImagesAllpages/footer5.png" alt="">
                        <img src="../assets/ImagesAllpages/footer6.png" alt="">
                    </div>
                </div>   
            </div>
            <div>
                <p class="citation">2022 Tous droits réservés Politique de confidentialité Conditions d’utilisation</p>
            </div>
        </div>
    </footer>
</body>
</html>